.boutton{
    margin: 5px;
}

.date{
    font-weight: 700;
    text-align: right;
}

.titre{
    text-align: left;
    background-color: rgba(165, 165, 250, 0.39);
    
}

.sous-titre{
    text-align: left;
}

.contenu{
    text-align: justify;
}

.fa-angular{
    color:red;
    font-size:25px;
    padding:10px;
    position:relative;
    top:5px;
    text-align: right;
    
    
}
.avis{text-align: center;}
.btn {
    min-width:150px;
}

.red{
    background-color: rgba(255, 0, 0, 0.315);
    
}

.green{
    background-color: rgba(0, 128, 0, 0.349);
    
}